.grid-container {
  width: 800px;
  height: 800px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
}

.button {
  display: flex;
  gap: 20px;
}

.grid-item {
  border: 0.5px solid black;
  box-sizing: border-box;
}

.warning {
  margin-top: 50px;
  font-size: 40px;
  color: red;
}
